POSTGRES_DB=numberone
POSTGRES_USER=numberone
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

# Variáveis consumidas pela aplicação cliente
DB_URL=jdbc:postgresql://localhost:5432/numberone
DB_USERNAME=numberone
DB_PASSWORD=change-me
